.theme-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: transform 0.3s ease;
}

.theme-toggle:hover {
  transform: rotate(30deg);
}

.theme-toggle svg {
  width: 20px;
  height: 20px;
  color: var(--text-dark);
  transition: color 0.3s ease;
}

.light-theme .theme-toggle svg {
  color: var(--text-light);
}

.sun-icon,
.moon-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.dark-theme .moon-icon,
.light-theme .sun-icon {
  display: none;
}

.dark-theme .sun-icon,
.light-theme .moon-icon {
  display: block;
}
